<!DOCTYPE html>
<html>
<head>
<script src="angular.min.js"></script>
<meta charset=utf-8 />
<title>JS Bin</title>
</head>
<body ng-app="myApp">
  <div ng-controller="MyController">
    <input ng-model="to"
          type="email" 
          placeholder="Recipient" />
    <textarea ng-model="emailBody"></textarea>
    <pre>{{ previewText }}</pre>
  </div>
  <script>
  	// define service
  	angular.module('emailParser',[])
  		.factory('EmailParser',['$interpolate',function($interpolate){
  			return {
  				parse: function(text,context){
  					var template = $interpolate(text);
  					return template(context);
  				}
  			};
  		}]);
  	// app
  	angular.module('myApp',['emailParser'])
  		.controller('MyController',['$scope','EmailParser',function($scope,EmailParser){
  			$scope.to = 'ari@fullstack.io';
	      	$scope.emailBody = 'Hello {{ to }},\n\nMy name is Ari too!';
	      	$scope.$watch('emailBody',function(body){
	      		if(body){
	      			$scope.previewText = EmailParser.parse(body,{to: $scope.to});
	      		}
	      	});
  		}]);

  </script>
</body>
</html>